.autosuggest-form-container {
  display: flex;
  align-items: flex-end;
}

.input-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.button-wrapper {
  display: inline-flex;
  flex: 1;
  align-items: flex-end;
  margin-left: 1rem;
}

.input-wrapper input {
  margin: 1rem 0 0 0;
  width: clamp(18rem, 60vw, 60rem);
  font-size: 1.6rem;
  height: 4.5rem;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 0.25rem;
  padding: 1rem;
}

.input-wrapper input:focus {
  outline-color: var(--primary-color);
}
