.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  height: 4.5rem;
  width: clamp(8rem, 20vw, 12rem);
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  cursor: pointer;
  text-transform: uppercase;
}

.btn {
  outline: none;
}
.btn::-moz-focus-inner {
  border: 0;
}
